include ../mixins/message

doctype html
html
    head
        title #{pageTitle} | #{siteName}
        link(rel="shortcut icon" href="#")
        link(rel="stylesheet" href="/static/styles.css")
    body
        if messages.error
            //- .message.error
            //-     span= messages.error
            +message({
                type: 'error',
                text:messages.error
            })
        else if messages.info 
            +message({
                type: 'info',
                text:messages.info
            })
        else if messages.success 
            +message({
                type: 'success',
                text:messages.success
            })
        include ../partials/header 
        main 
            block content
        include ../partials/footer 
        script(src="/static/main.js")
        script(src="https://kit.fontawesome.com/02aca41e50.js", crossorigin="anonymous")